li {
  margin-bottom: 5px;
  border: 1px dotted gray;
  padding: 5px;
  position: relative;
}

.book-title {
  font-style: italic;
}

button {
  background: none;
  border: none;
}

.favorite-icon {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 1.2em;
}

.favorite-icon:hover {
  transform: scale(1.2)
}

.filled {
  color: red;
  transform: scale(1.5);
}